@font-face {
    font-family: 'Inter';
    src: url(/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: antiquewhite;
}

main {
    font-family: 'Inter';
    padding: 2rem;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
}

header,
footer {
    font-family: 'Montserrat';
    font-weight: bold;
    color: blue;
    padding: 2rem;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure {
    width: 25rem;
    height: 25rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


li:nth-last-child(1){
    background-color: red;
}