@font-face {
    font-family: 'Inter';
    src: url(/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

main{
    font-family: 'Inter';
}